body{
    font-family: 나눔스퀘어, 나눔바른고딕;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    min-height: 1080px;
}

.wrapper > div {
    display: grid;
}

.main {
    grid-template-rows: 0.5fr 4fr 2fr 2fr;
    height: 100%;
}

.title{
    margin: 0px;
    padding-top: 30px;
}

.kr{
    font-size: larger;
}

.eng{
    font-size: small;
    color: gray;
}

.details{
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 100%;
    font-size: small;

}

.poster {
    padding-right: 16px;
    padding-bottom: 16px;

}

.etc {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}

.etc > div > p {

    font-size: small;
    margin-top: 0px;
    margin-bottom: 3px;
}

.cls{

    display: inline-block;
    color: gray;
    width: 80px;
    margin-bottom: 3px;
}

.act {
    display: flex;
    flex-wrap: wrap;
}

.actdiv {
    margin-top: 0px;
    width: 100%;
    height: 16px;

}

.card {
    width: 80px;
    font-size: small;
}

.card > p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.role {
    color: gray;
}


.comment{}