{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<form action="{% url 'signup' %}" method="POST" class="form" style="position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% bootstrap_button button_type="submit" size="lg" style="background-color:#6A8CC3; border-color: #6A8CC3; width:49%; display: inline-block; " content="OK" %}
  {% bootstrap_button button_type="reset" size="lg" style="background-color:#6A8CC3; border-color: #6A8CC3; width:49%; display: inline-block;" content="Cancel" %}

</form>